{{ encore_entry_link_tags('appMainMenuCart') }}

<div id="appMainMenuCart"></div>

{% block javascripts %}
  <script>
    if (typeof window.staticStore === 'undefined') {
      window.staticStore = {};
    }
    {#window.staticStore.urlCart = "{{ path('api_carts_get_collection') }}";#}
  </script>
  {{ encore_entry_script_tags('appMainMenuCart') }}
{% endblock %}